@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 25, 25);
}
#pesquisa-cep{
    height: 700px;
    display: flex;
    flex-direction: row;
}
.pesquisa{
    background-color: rgb(72, 134, 249);
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#resultado{
    background-color: rgba(255, 255, 255, 0.973);
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cep {
    width: 150px;
    height: 20px;
}
.btn {
    background-color: rgb(255, 255, 255);
    color: rgb(72, 134, 249);
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    transition-duration: 0.3s;
}
.btn:hover {
    cursor: pointer;
    background-color: rgb(0, 60, 255);
    color: rgb(255, 255, 255);
}
